@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

header{
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin-left: 2rem;
}

nav ul{
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

nav li a{
    text-decoration: none;
    padding: 1.5rem;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
}

.first-section{
    padding: 5.5rem;
}

.content{
    display: flex;
}

.image-content img{
    width: 80%;
    margin-left: 5rem;
}

.header-title{
    font-size: 2.5rem;
    color: hsl(243, 87%, 12%);
}

.header-details{
    margin-top: 1.5rem;
    font-size: 1rem;
    width: 85%;
    line-height: 1.5;
}

.buttons{
    margin-top: 1.5rem;
}

.buttons input{
    width: 45%;
    padding: 0.8rem;
    outline: none;
    border-radius: 2px;
    border: 1px solid hsl(0, 0%, 75%);
    font-size: 0.9rem;
}

.get-btn{
    background-color: hsl(224, 93%, 58%);
    border: none;
    padding: 0.85rem 2.8rem;
    margin-left: 0.5rem;
    border-radius: 2px;
    font-size: 0.9rem;
    color: hsl(240, 75%, 98%);
    font-weight: 700;
    cursor: pointer;
}

.second-section{
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(240, 75%, 98%);
    padding: 2rem;
}

.content-2{
    display: flex;
    padding: 4rem;
}

.content-items h2{
    color: hsl(243, 87%, 12%);
    font-size: 2.25rem;
    font-weight: 700;
}

.content-items p{
    margin: 1.5rem 0;
    font-size: 1.1rem;
    color: hsl(243, 87%, 12%);
}

.content-items a{
    color: hsl(170, 45%, 43%);
}

.box{
    background-color: #fff;
    margin-top: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    width: 67%;
    box-shadow: 0px  0px 5px 3px rgba(0, 0, 0, 0.1);
}

.box h3{
    color: hsl(238, 22%, 44%);
    font-size: 1rem;
}

.image img{
    width: 15%;
    height: 20%;
    border-radius: 50px;
    margin-top: 1rem;
}

.image{
    display: flex;
    gap: 1rem;
}

.image-text{
    padding: 1rem 0;
}

.name{
    font-weight: 700;
    color:hsl(243, 87%, 12%);
    margin-top: 0.5rem;
}

.position{
    color: hsl(238, 22%, 44%);
}

.picture-container img{
    width: 85%;
    margin-left: 5.5rem;
}

.third-section{
    background-color: hsl(238, 22%, 44%);
    padding: 4rem 5rem;
}

.container{
    display: flex;
    justify-content: space-around;
}

.text{
    width: 40%;
    margin-left: -5rem;
    color: hsl(240, 75%, 98%);
}

.text h3{
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.button-box input{
    width: 100%;
    padding: 0.9rem;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    border-radius: 2px;
}

.get-btn2{
    background-color: hsl(224, 93%, 58%);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: hsl(240, 75%, 98%);
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

footer{
    background-color: hsl(243, 87%, 12%);
    padding: 3rem 5.5rem;
}

.footer-logo{
    color:hsl(240, 75%, 98%);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.location{
    color: hsl(0, 0%, 75%);
}

.location img{
    margin-bottom: 0.5rem;
}

.location p{
    margin: -2rem 0 1rem 2.5rem;
}

.footer-details{
    display: flex;
    justify-content: space-evenly;
    margin-top: -5.5rem;
}

.footer-details p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.left-details p{
    color: hsl(0, 0%, 75%);
    margin: 1rem 0 0 9rem;
}

.right-details p{
    color: hsl(0, 0%, 75%);
    margin: 1rem;
}

.social-media{
    margin-top: 1rem;
    cursor: pointer;
}

.social-media img{
    margin-left: 1rem;
    border: 1px solid hsl(240, 75%, 98%);
    border-radius: 50px;
    padding: 0.2rem;
}

.social-media img:hover{
    background-color: hsl(224, 93%, 58%);
}

@media only screen and (max-width:834px){
    nav img{
        width: 18%;
    }

    nav{
        font-size: 1.5rem;
    }

    .header-title{
        font-size: 1.5rem;
    }

    .header-details{
        font-size: 1rem;
        width: 100%;
    }

    .box{
        width: 130%;
    }

    .first-section{
        padding: 3rem;
    }

    .content-2{
        padding: 1rem;
    }

    .picture-container img{
        width: 80%
    }

    .buttons input{
        width: 100%;
    }

    .get-btn{
        margin-top: 1rem;
        width: 70%;
        margin-left: 3rem ;
    }

    .container{
        padding:0 1.5rem;
    }

    .text h3{
        width: 250%;
    }

    .text p{
        width: 200%;
    }

    .button-box input{
        margin-left: 14rem;
        width: 70%;
    }

    .get-btn2{
        margin-left: 14rem;
        width: 50%;
    }

    footer{
        padding: 4rem;
    }

    .footer-logo h2{
        font-size: 2rem;
    }

    .footer-details{
        margin-left: 7rem;
    }
}

@media only screen and (max-width:428px){
    nav img{
        margin-left: 1rem;
    }

    nav ul {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
   }

   nav ul li a{
    margin: 0;
    padding: 0.8rem;
   }

    .content{
        flex-direction: column-reverse;
        text-align: center;
    }

    .image-content img{
        margin-left: 2rem;
    }

    .header-title{
        width: 95%;
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    .get-btn{
        width: 100%;
        margin-left: 0;
    }

    .content-2{
        flex-direction: column-reverse;
        padding-left: 0;
        padding-bottom: 4rem;
    }

    .content-items h2{
        text-align: center;
        font-size: 1.2rem;
        padding-top: 4rem;
    }

    .content-items p{
        font-size: 1rem;
        width: 100%;
    }

    .content-items a{
        margin-left: 6rem;
    }

    .box{
        width: 105%;
    }

    .picture-container img{
        width: 90%;
        margin-left: 1rem;
    }

    .container{
        flex-direction: column;
    }

    .text{
        width: 85%;
        text-align: center;
        margin-left: -6.8rem;
    }

    .text h3{
        font-size: 1.5rem;
    }

    .text p{
        margin-left: 2.5rem;
        font-size: 0.97rem;
    }

    .button-box{
        margin-left: -17.3rem;
        margin-top: 2rem;
    }

    .button-box input{
        width: 62%;
    }

    .get-btn2{
        width: 62%;
    }

    footer{
        padding: 3rem;
    }

    .footer-logo h2{
        font-size: 3rem;
    }

    .footer-details{
        flex-direction: column;
        margin-top: 0;
    }

    .left-details{
       margin-left: -16rem;
    }

    .right-details{
        margin-top: 1.6rem;
        margin-left: -8rem;
    }

   .social-media{
        display: flex;
        margin-left: -2.9rem;
   }
} 


